VITE_CLOUDINARY_CLOUD_NAME='Your Cloudinary Cloud Name'
VITE_CLOUDINARY_PRESET_NAME='Your Cloudinary Preset Name'
VITE_CLOUDINARY_API_KEY="Your Cloudinary API Key"
VITE_CLOUDINARY_API_SECRET="Your Cloudinary API Secret"