.h1Products{
    font-family: var(--font-family-2);
    font-weight: 800;
    font-size: 64px;
    color: var(--font-color-title);
    border-top: 30px;
}
.h3Products{
    font-family: var(--font-family-2);
    font-weight: 800;
    font-size: 2.2rem;
    color: var(--font-color-title);
}
@media (max-width: 480px) {

    .h1Products{
        font-size: 1.5rem;
    }
    .h3Products{
        font-size: 0.875rem;
    }
}