.card{
    display: flex;
    color: black;
    background-color: #FFFFFF;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    background-size: auto;
    width: 413px;
    height: 526px;
    /* margin: 25px 15px 0px 15px; */
    box-shadow: rgba(11, 14, 16, 0.48) 8px 8px 16px 0px, rgba(255, 255, 255, 0.8) -2px -2px 16px 0px;
    font-family: var(--font-family-1);
}
.name{
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.image{
    display: flex;
    height: 75%;
    width: 90%;
    object-fit:cover;
    background-color: var(--background-color-1);
    padding: 0;

}
.div{
 height: 300px;
}
.cardTwo{
    display: flex;
    color: black;
    background-color: #FFFFFF;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    background-size: auto;
    width: 310px;
    height: 358px;
    /* margin: 25px 15px 0px 15px; */
    box-shadow: rgba(11, 14, 16, 0.48) 8px 8px 16px 0px, rgba(255, 255, 255, 0.8) -2px -2px 16px 0px;
    font-family: var(--font-family-1);

}
.cardBig{
        display: flex;
    color: black;
    background-color: #FFFFFF;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    background-size: auto;
    width: 674px;
    height: 793px;
    /* margin: 25px 15px 0px 15px; */
    box-shadow: rgba(11, 14, 16, 0.48) 8px 8px 16px 0px, rgba(255, 255, 255, 0.8) -2px -2px 16px 0px;
    font-family: var(--font-family-1);
}
@media (max-width: 480px) {
    .card{
     width: 131.4px;
     height: 159.8px;
    }
    .name{
        font-size: 12px;

    }
    .cardTwo{
        width: 210px;
        height: 258px;

    }
    .cardBig{
        width: 374px;
        height: 393px;

    }

    
}
@media only screen and (min-width:480px) and (max-width: 865px) {
    .card{
        width: 213px;
        height: 326px;
    }
    .name{
        font-size: 15px;

    }
    .cardTwo{
        width: 210px;
        height: 258px;

    }
    .cardBig{
        width: 374px;
        height: 393px;

    }
    
}
@media only screen and (min-width:866px) and (max-width: 1066px) {
    .card{
        width: 313px;
        height: 426px;
    }
    .cardTwo{
        width: 210px;
        height: 238px;
    }
    .cardBig{
        width: 444px;
        height: 500px;

    }
    .name{
        font-size: 15px;

    }
}
@media only screen and (min-width:1241px) and (max-width: 1425px) {

    .cardTwo{
        width: 300px;
        height: 348px;
    }
    .cardBig{
        width: 629px;
        height: 748px;

    }
}
@media only screen and (min-width:1066px) and (max-width: 1240px) {

    .cardTwo{
        width: 270px;
        height: 338px;
    }
    .cardBig{
        width: 566px;
        height: 690px;

    }
}