.title{
font-family: var(--font-family-1);
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 71px;
color: var(--font-color-title);
text-transform: uppercase;
}
.h3{
font-family: var(--font-family-1);
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 23px;
color: var(--font-color-1);
text-transform: uppercase;
}
.text{
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
}
@media (max-width: 480px) {
    .title{
        font-size: 34px;
        line-height: 31px;
        margin-top: 10px;
    }
    .h3{
        font-size: 11px;
    }
    .text{
        font-size: 11px;
        line-height: 18px
    }
    
}
@media only screen and (min-width:900px) and (max-width: 1064px) {
    .title{
        font-size: 44px;
        line-height: 61px;
    }
    .h3{
        font-size: 15px;

    }
    .text{
        font-size: 20px;
        line-height: 20px
    }
    
}
@media only screen and (min-width:480px) and (max-width: 900px) {
    .title{
        font-size: 34px;
        line-height: 51px;
    }
    .h3{
        font-size: 10px;
    }
    .text{
        font-size: 11px;
        line-height: 20px
    }
}
