.h1News{
    font-family: var(--font-family-2);
    font-weight: 800;
    font-size: 2.2rem;
    color: var(--font-color-title);
}
.h1Products{
    font-family: var(--font-family-2);
    font-weight: 800;
    font-size: 64px;
    color: var(--font-color-title);
    border-top: 30px;
}
.h3Products{
    font-family: var(--font-family-2);
    font-weight: 700;
    font-size: 1.6rem;
}