.footerContainer{
    background-color: var(--background-color-blue);
    color: var(--font-color-3);
    font-family: var(--font-family-1);

}
.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.contactoSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-1);
    justify-content: center;
    gap: 10px;
}
.titlePage{
    font-family: var(--font-family-1);
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    align-items: center;
    line-height: 19.14px;
    margin: 0%;
 
}
.titleContacto{
    font-family: var(--font-family-2);
}
.logoFooter{
    object-fit: cover;
    max-width: 100px;
}
.map{
    width: 100px;
    height: 100px;
}
.titleUbi{
    font-family: var(--font-family-1);
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    align-items: center;
    line-height: 19.14px;
}
@media (max-width:992px) {
    .footer{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .footerContainer{
        height: 100%;
    }
    .contactoSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}      
.botonLang{
    cursor: pointer;
    width: 80px;
}