.h1Products{
    font-family: var(--font-family-2);
    font-weight: 800;
    font-size: 64px;
    color: var(--font-color-3);
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    text-transform: uppercase;

}

@media (max-width: 480px) {

    .h1Products{
        font-size: 2rem;
    }
}
.container{
    background-color:var(--background-color-blue);
    height: 250px;


}