.h1Products{
    font-family: var(--font-family-2);
    font-weight: 800;
    font-size: 2.2rem;
    color: var(--font-color-title);
    margin-top: 20px;
    margin-left: 20px;
}
.h3Products{
    font-family: var(--font-family-2);
    font-weight: 700;
    font-size: 1.6rem;
}
@media (max-width: 480px) {

    .h1Products{
        font-size: 2rem;
    }
    .h3Products{
        font-size: 1.4rem;
    }
}