@import url('https://fonts.cdnfonts.com/css/gotham');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Roboto+Condensed&display=swap'); */

.App{
  font-family: var(--font-family-1);
  font-size: 1.5em;
  color: var(--font-color-1);
  overflow-x: hidden;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: var(--background-color-blue);
  color: var(--font-color-3);
  background-image: url("assets/arrowsSelect.svg") ;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  border: 1px solid #dfdfdf;
  border-radius: 23px;
  padding: 1rem;
  padding-right: 2rem;
}

:root{
  --background-color: #FFF;
  --background-color-2: #E8E9E8;
  --background-color-body: #F9F9F9;
  --background-color-blue: #232851;
  --background-color-gray: #EDEDED;
  --font-family-1: 'Gothan', sans-serif;
  --font-family-2: 'Montserrat', sans-serif;
  --font-family-3: italic2;
  --font-color-1: #000000;
  --font-color-2: #124E78;
  --font-color-3: #FFF;
  --font-color-title: #16213E;
}
/* 
GLOBALES
 */
.bkgWhite{
  background-color: var(--background-color);
}
.bkgGray{
  background-color: var(--background-color-gray);
}
.bkgBlue{
  background-color: var(--background-color-blue);
}
.pointer{
  cursor: pointer;
}
.white{
  color: var(--font-color-3);
}
.bold{
  font-weight: bold;
}

.underLineHover:hover{
  text-decoration: underline;
}

.textArea{
  resize: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 300;
  font-style: italic;
  font-size: 1.2rem;
}